# 开发环境配置
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fuzz_testing_db?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: INFO
    com.fuzz: DEBUG